/* canvas {
    display:block;
    position: fixed;
    z-index: -1;
} */

.infobox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width:400px; 
    max-height:600px; 
    margin:auto;
}

.navbar{
    position: absolute;
    bottom:0;
    width: 100vw;
}

.navbarinner{
    width: max-content;
    margin:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    /* background-color: #111; */
    color: #a785eb;
  }