<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursed Graphics</title>
    <link rel="icon" href="https://raw.cursed.graphics/0.png" type="image/x-icon">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cursed Graphics" />
    <meta property="og:url" content="https://cursed.graphics" />
    <meta property="og:image" content="https://raw.cursed.graphics/0.png" />
    <style>
        body {
            margin: 0;
            padding: 0;

            min-height: 100vh;
            width: 100vw;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            text-align: center;
            max-width: 800px;
            width: 100%;
            font-size: x-large;
        }
    </style>
</head>

<body>
    <script>
        window.location.replace("/random");
    </script>
    <main>
        <h1>Cursed Graphics</h1>
        <a href="/random">Show Me</a>
    </main>
</body>

</html>