#raw-content-wrapper {
  overflow: hidden;
}

#software-hero {
  position: relative;
  background: rgb(18, 23, 19);
  background: linear-gradient(
    0deg,
    rgba(18, 23, 19, 1) 0%,
    rgba(20, 20, 12, 1) 100%
  );
  height: 100vh;

  img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
  }

  #content {
    position: absolute;
    width: 100vw;
    @media (min-width: 843px) {
      width: 55vw;
    }

    height: 100%;
    z-index: 1;
    overflow: hidden;

    #tilt {
      position: absolute;
      width: 100vw;
      height: 100%;
      @media (min-width: 843px) {
        height: 200%;
        width: 100%;
        top: -80%;
        left: -10%;
        transform: rotate(15deg);
      }
      background-color: var(--color-purple);
    }

    #align-wrapper {
      position: absolute;
      top: 40vh;
      margin-left: 10vw;
      @media (min-width: 843px) {
        margin-left: 5vw;
      }
      @media (min-width: 1105px) {
        margin-left: 10vw;
      }
      z-index: 2;

      h1 {
        width: max-content;
        color: white;
        font-weight: bolder;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

#software-experience {
  background-color: var(--color-dark-blue);
  min-height: 80vh;

  .content {
    color: white;
    padding-top: 30vh;

    h1 {
      text-transform: uppercase;
      font-weight: bolder;
    }

    .work-experience-list {
      @media (max-width: 993px) {
        padding-top: 10px;
        -ms-flex: none !important;
        flex: none !important;
        max-width: none !important;
        width: 100%;
      }
    }

    .work-experience-item {
      background-color: unset;
      border-color: white;
      padding: 10px;
      transition: color 0.4s cubic-bezier(0, 0, 0.58, 1),
        border 0.4s cubic-bezier(0, 0, 0.58, 1);

      &:hover {
        cursor: pointer;
        border-color: var(--color-orange);
        color: var(--color-orange);
        transition: color 0.1s cubic-bezier(0, 0, 0.58, 1),
          border 0.1s cubic-bezier(0, 0, 0.58, 1);
      }
    }
  }
}

#software-skills-showcase {
  background-color: var(--color-dark-blue);
  min-height: 60vh;

  .content {
    color: white;
    padding-top: 10vh;

    h1 {
      text-transform: uppercase;
      font-weight: bolder;
    }

    .skill-heading {
      @media (max-width: 993px) {
        order: -1;
      }
    }

    .skill-list {
      @media (max-width: 993px) {
        padding-top: 10px;
        -ms-flex: none !important;
        flex: none !important;
        max-width: none !important;
        width: 100%;
      }
    }

    .skill-item {
      background-color: unset;
      border-color: white;
      padding: 10px;

      h4,
      h5 {
        text-align: right;
      }

      .skill-reveal {
        hr {
          background-color: white;
        }
        text-align: right;
        overflow-y: hidden;
        max-height: 0;
        transition: max-height 1.4s cubic-bezier(0, 0, 0.58, 1);
      }
    }
  }
}

#software-projects {
  background-color: var(--color-dark-blue);
  min-height: 80vh;
  color: white;

  h1 {
    text-transform: uppercase;
    font-weight: bolder;
  }

  .home-project {
    background-color: unset;
	border-color:white;
  }
}
