---
title: Blog Posts
layout: page
header_red: true
backing_img: /assets/images/innovation__monochromatic.svg
backing_scalar: "height:90%;"
---

<p>Here is a list of things I find interesting, and writeups of projects I have worked on.</p>

<div class="list-group" id="posts">
    <!-- <a href="#posts"
        class="feature list-group-item list-group-item-action list-group-item-dark ">Featured
        Post</a> -->

    {% assign i = 0 %}
    {% for post in site.posts %}
    {% assign the_date = post.date | split: " " %}

    {% if i == 0 %}
    <a href="{{post.url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <div class="card-body">
                <h5 class="mb-1">{{post.title}}
                    {% if post.is_short %}
                    <span class="badge badge-secondary">Mini Post</span>
                    {% endif %}
                </h5>
                <p class="card-text">{{post.description}}</p>
            </div>
            <small style="color:gray;" class="maybe-date">{{the_date.first}}</small>
        </div>
    </a>


    {% else %}


    <a href="{{post.url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small style="color:gray;" class="maybe-date">{{the_date.first}}</small>
        </div>
        <p class="card-text">{{post.description}}</p>
    </a>

    {% endif %}
    {% assign i = i | plus:1 %}
    {% endfor %}
</div>