{% for feature in feature_flags %}

{# KATEX #}
{% if feature == "katex" %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [ ['$$','$$'], ['\[','\]'] ]}});
</script>
{% endif %}

{# Twitter embed #}
{% if feature == "twitter" %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}

{# Mermaid #}
{% if feature == "mermaid" or feature == "graphviz" %}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endif %}

{% endfor %}