<br>

<div class="reactive-bg">
    <div class="post container" id="advert">
        <span>
            <p id="a-txt">Advertisement: </p>
        </span>
    </div>
</div>

<script>
    // Possible adverts
    adverts = [
        'Want to waste away your period 4 english class by playing games? Check out <a href="https://rsninja.dev">rsninja.dev</a>',
        'Is dark mode too cheery? Check out <a href="https://exvacuum.dev">exvacuum.dev</a>',
        'I have no idea what to write for this: <a href="https://hyperlisk.dev">hyperlisk.dev</a>'
    ]

    // Display random advert
    document.getElementById("a-txt").innerHTML += adverts[Math.floor(Math.random()*adverts.length)]
</script>