<title>{{page.title}} | {{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

<!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

{%seo%}

<!-- Discovery -->
<link rel="alternate" title="{{site.title}}" type="application/rss+xml" href="{{site.url}}/feed.xml" />
<link rel="alternate" title="{{site.title}}" type="application/json" href="{{site.url}}/feed.json" />

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% if page.uses contains "katex" %}
<!-- Katex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
{% endif %}

{% if page.uses contains "tikz" %}
<!-- TikZJax -->
<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
{% endif %}

{% if page.uses contains "pdf" %}
<!-- Inline PDF files -->
<link rel="stylesheet" href="https://unpkg.com/browse/pdfjs-dist@2.4.456/web/pdf_viewer.css">
{% endif %}

<!-- Primary fonts -->
<link rel="preload" href="{{site.baseurl}}/assets/fonts/GT-Walsheim-Bold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="{{site.baseurl}}/assets/fonts/GT-Walsheim-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="{{site.baseurl}}/assets/fonts/TiemposTextWeb-Regular.woff2" as="font" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i"
    rel="stylesheet">

<!-- Load fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
<!-- <link rel="preload" href="/assets/external/fontawesome/webfonts/fa-solid-900.woff2" as="font"
        crossorigin="anonymous">
    <link rel="preload" href="/assets/external/fontawesome/webfonts/fa-brands-400.woff2" as="font"
        crossorigin="anonymous">
    <link rel="prefetch" as="style" href="/assets/external/fontawesome/css/fontawesome.min.css" crossorigin="anonymous">
    <script>
        var fa = document.createElement("link");
        fa.type = "text/css";
        fa.rel = "stylesheet";
        fa.href = "/assets/external/fontawesome/css/fontawesome.min.css";
        document.head.appendChild(fa);
    </script>
    <noscript>
        <link rel="stylesheet" href="/assets/external/fontawesome/css/fontawesome.min.css">
    </noscript> -->

<!-- Site style -->
<link rel="stylesheet" href="/assets/css/site.css">

<!-- Adsense -->
<!-- <script data-ad-client="ca-pub-6940033544404615" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- Handle the blog listing -->
{% if page.title == "Blog Posts" %}
<script type="application/ld+json">
    {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% assign i = 0 %}
    {% for post in site.posts %}
    {% assign the_date = post.date | split: " " %}
        {
        "@type":"ListItem",
        "position":{{i}},
        "url":"{{site.url}}{{post.url}}"
        },
    {% assign i = i | plus:1 %}
    {% endfor %}
    ]
}
</script>
{% endif %}

<!-- Handle blog breadcrumbs -->
{% if page.written %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Blog",
        "item": "{{site.url}}/blog"
    },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{page.title}}",
        "item": "{{site.url}}{{page.url}}"
    }]
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{page.title}}",
    "datePublished": "{{page.date}}",
    "dateModified": "{{page.written}}",
    "about": "{{page.excerpt}}",
    "keywords":"{% for key in page.tags %} {{key}}, {% endfor %}"
}
</script>
{% endif %}