<!DOCTYPE html>
<html  lang="en">

<head>
    <title>{{page.title}} | {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    {%seo%}

    <!-- Discovery -->
    <link rel="alternate" title="{{site.title}}" type="application/rss+xml" href="{{site.url}}/feed.xml" />
    <link rel="alternate" title="{{site.title}}" type="application/json" href="{{site.url}}/feed.json" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if page.uses contains "katex" %}
    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
    {% endif %}

    {% if page.uses contains "tikz" %}
    <!-- TikZJax -->
    <link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
    {% endif %}

    {% if page.uses contains "pdf" %}
    <!-- Inline PDF files -->
    <link rel="stylesheet" href="https://unpkg.com/browse/pdfjs-dist@2.4.456/web/pdf_viewer.css">
    {% endif %}

    <!-- Primary fonts -->
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/GT-Walsheim-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/GT-Walsheim-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/TiemposTextWeb-Regular.woff2" as="font" crossorigin="anonymous">

    <!-- Site style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/color-theme.css">
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fonts.css" rel="preload">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/github-syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/navigation.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/page.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/home.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/edges.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/photos.css">

    <!-- Icons and Brands -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Adsense -->
    <!-- <script data-ad-client="ca-pub-6940033544404615" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

</head>