<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg">
    <!-- Navbar content -->
    <div class="container">
        <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{site.baseurl}}/blog">Blog</a>
                <a class="nav-item nav-link" href="{{site.baseurl}}/projects">Projects</a>
                <a class="nav-item nav-link" href="{{site.baseurl}}/about">About</a>
            </div>
        </div>
    </div>
</nav>