---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.override_title %}{{page.override_title}}{% else %}{{page.title}} | {{site.title}}{% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/default_compiled.css">
</head>

<body>
    <header>

    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <hr>
        <p>
            Copyright &copy; 2017 - {{ site.time | date: '%Y' }}
            <strong>
                Evan Warren Pratten
            </strong>
        </p>
    </footer>
</body>

</html>