.about-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  width: max-content;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;

  .profile-photo-container {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;

    & > img {
      width: 100%;
    }
  }

  .text-container {
    margin-left: 1em;
    height: max-content;

    .intro-text {
      margin-bottom: 1em;

      h1,
      p {
        margin: 0;
        line-height: 1em;
      }
    }

    .quick-links {
      height: max-content;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          line-height: 1.25em;
          margin: 0;
          padding: 0;
        }
        padding: 0;
      }
    }
  }
}
