.heading-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: max-content;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;

  .profile-photo-container {
    width: 50px;

    img {
      width: 100%;
    }
  }

  .text-container {
    margin-left: 1em;
    height: max-content;

    h1,
    p {
      margin: 0;
      line-height: 1em;
    }
  }
}
