/* Colors */

:root {
    --bg-color: rgb(29, 33, 48);
    --content-bg: rgb(35, 41, 55);
    --panel-bg: rgb(46, 53, 74);
    --highlight-clr: rgb(39, 232, 167);
    --text-clr: rgb(228, 240, 252);
    --heading-clr: rgb(81, 99, 119);
    --link-clr: rgb(49, 174, 132);
}

body {
    background-color: var(--bg-color);
    color: var(--text-clr);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-clr);
}

.container, .navbar-dark {
    background-color: var(--content-bg) !important;
}

.profile {
    border-color: var(--content-bg) !important;
}

.site-info {
    background-color: var(--content-bg) !important;
}

.list-group, .list-group-item {
    background-color: var(--panel-bg) !important;
    color: var(--text-clr) !important;
}

.list-group, .list-group-item h5{
    color: var(--link-clr) !important;
}

.feature{
    background-color: var(--heading-clr) !important;
}

.navbar-brand {
    color: var(--highlight-clr) !important;
}

a {
    color: var(--link-clr);
}

a::hover {
    color: var(--highlight-clr) !important;
}