.edge--top {
    position: relative;
    z-index: 1;
  }
  .edge--top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
  .edge--top:before {
    top: 0;
    -webkit-transform: skewY(2.5deg);
            transform: skewY(2.5deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }