body{
    margin:0;
    padding:0;
}

.header-gap{
    /* height: 30px;
    background-color: #ebeef1; */
}

.header {
    height: 35vh;
    background-color: #ebeef1;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    filter: url('#sharpBlur')

}

.header .container {
    height: 100%;
    display: flex;
    align-items: center; /* align vertical */
}

.hidden {
    display: none !important;
}

.ffhidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


img {
    max-width:100%;
}

.centre{
    text-align: center;
}

.post.container {
    padding: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    transform: translateY(-30px);
    background-color: #fff;

}

.home.container {
    padding: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;

}

.container .profile{
    width:30vw;
    max-width: 242px;
    transform: translateY(calc(10vh * -1));
    border-color: #fff;
    border-width: 10px;
    border-radius: 10%;
    border-style: solid;
    margin: 20px;
}

.profile img {
    border-radius: 5%;
}

.home-header{
    height:100%;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.site-ctr{
    min-height:100vh;
}

.tagline {
    text-align: center;
    max-width: 600px;
    margin:auto;
}

.container .info{
    transform: translateY(calc(13vh * -1));
    padding: 20px;
}

.info h1 {
    /* padding: 20px; */
    text-align: left;
}