body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #343a40;
}

html {
    scroll-behavior: smooth;
}

.landing.container {
    display: block;
    height: 80vh;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

#name-landing {
    background-color: #fff;
    color: #343a40;
    font-weight: bolder;
    padding-left: 5;
    padding-right: 5;
    width: max-content;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: xxx-large;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.blocky {
    background-color: #fff;
    color: #343a40;
    font-weight: bolder;
    padding-left: 5;
    padding-right: 5;
    width: max-content;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: xx-large;
}

#me-landing {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.landing-more {
    height: 20vh;
    text-align: center;
    width: max-content;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

.landing-more a {
    height: max-content;
    background-color: rgba(255, 255, 255, 0.801);
    padding-left: 5;
    padding-right: 5;
    font-weight: normal;
    color: #343a40;
}

.landing-more a:hover {
    text-decoration: none;
}

.nudge-right {
    padding-left: 10vw;
}

#face-backdrop {
    height: 50vh;
    float: right;
    padding-right: 10vw;
}

@media only screen and (max-width: 993px) {
    .landing.container {
        display: none;
    }
    .landing-more {
        display: none;
    }
}

#mobile-title {
    display: none;
}

@media only screen and (max-width: 993px) {
    #mobile-title {
        display: block;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: xxx-large;
        margin: auto;
    }
    #mobile-title .blocky {
        margin: auto;
        font-size: xxx-large;
        -webkit-animation: fadein 0.5s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s;
        /* Firefox < 16 */
        -ms-animation: fadein 0.5s;
        /* Internet Explorer */
        -o-animation: fadein 0.5s;
        /* Opera < 12.1 */
        animation: fadein 0.5s;
    }
}

#whoami {
    color: #fff;
    font-weight: bold;
    text-align: justify;
    max-width: 680px;
    margin: auto;
}

#languages h2 {
    margin: auto;
}

#whoami h2 {
    margin: auto;
}

#languages {
    color: #fff;
    font-weight: bold;
    max-width: 680px;
    /* float: right; */
    margin: auto;
    right: 0;
    text-align: justify;
    align-items: right;
}

.site-info {
    color: rgb(199, 195, 195);
    background-color: #FFF;
}

.header-gap {
    /* height: 30px;
    background-color: #ebeef1; */
}

.invert {
    background-color: #343a40;
    color: #fff;
    font-weight: bolder;
    width: max-content;
    padding-left: 5;
    padding-right: 5;
}

.header {
    height: 35vh;
    /* max-width: 1140px; */
    margin: auto;
    background-color: #ebeef1;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.table-fix {
    overflow: auto;
}

table {
    width: max-content;
    max-width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
}

table th, table td {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

table tbody {
    vertical-align: inherit;
}

table td {
    border-bottom: 1px solid #dee2e6;
}

thead th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    /* align vertical */
}

.hidden {
    display: none !important;
}

img {
    max-width: 100%;
}

.centre {
    text-align: center;
}

h1 {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Mono', monospace;
}

a h5 {
    color: #105edd;
}

.post.container {
    padding: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    /* transform: translateY(-30px); */
    background-color: #fff;
}

.title.container{
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    /* transform: translateY(-30px); */
    background-color: #fff;
}

.post-date{
    color:rgba(182, 182, 182, 0.602);
}

#advert {
    /* background-color: #343a40; */
    /* color:#fff; */
    text-align: center;
    padding: 10;
    font-size: medium;
}

#advert p {
    padding: 0;
    margin: 0;
}

.nav-item.nav-link {
    padding-top: .4125rem;
    padding-bottom: .3125rem;
    line-height: inherit;
}

.navbar-brand span {
    background-color: #fff;
    color: #343a40;
    font-weight: bolder;
    padding-left: 5;
    padding-right: 5;
}

.navbar-brand {
    margin-right: 0;
    color: #343a40;
}

.home.container {
    padding: 20px;
    /* font-family: 'Noto Sans TC', sans-serif; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* background-color: #fff; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .profile {
    width: 30vw;
    max-width: 242px;
    transform: translateY(calc(10vh * -1));
    border-color: #fff;
    border-width: 10px;
    border-radius: 10%;
    border-style: solid;
    margin: 20px;
}

.profile img {
    border-radius: 5%;
}

.home-header {
    height: 100%;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.site-ctr {
    min-height: 100vh;
}

.tagline {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.container .info {
    transform: translateY(calc(13vh * -1));
    padding: 20px;
}

.info h1 {
    /* padding: 20px; */
    text-align: left;
}

/* #particles-js{
    position: absolute;
} */

/* 
.reactive-bg{
    position:relative
} */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    /* quotes: "\201C""\201D""\2018""\2019"; */
}

blockquote:before {
    color: #ccc;
    /* content: open-quote; */
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    font-size: 10px;
    display: inline-block;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
    background-color: rgb(247, 247, 247);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
}

.highlight {
    background-color: #faf9f9;
    border-radius: 5px;
}

pre {
    padding: 3px;
}

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:target::before {
    content: '';
    display: block;
    height: 40px;
    margin-top: -40px;
}