---
---

.color-space{
    height:40vh;

    {% if header_red %}
    background-color: var(--color-red)!important;
    {% else %}
    background-color: var(--color-purple)!important;
    {% endif %}
}

.title-container{
    margin-top: 6rem;

}