body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.color-space {
    height: 25vh;
    background-color: var(--color-purple)!important;
}

.title-container {
    margin-top: 6rem;
}

.highlight {
    background-color: var(--light-gray);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 0;
}

img {
    max-width: 99%;
}

iframe {
    max-width: 99%;
}

.center {
    text-align: center;
}

.foot-info a {
    color: var(--color-dark-purple);
}

.inner-content-container>p {
    text-align: justify;
}

.retention {
    
}

/* .inner-content-container>p>a {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
    color: #212529;
}

.inner-content-container>p>a:hover {
    outline: none;
    color: var(--color-blue);
    text-decoration: none;
}

.inner-content-container>p>a::after {
    position: absolute;
    top: 92%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-blue);
    content: '';
} */