---
---

.color-space{
    height:40vh;

    {% if page.header_red %}
    background-color: var(--color-red)!important;
    {% else %}
    background-color: var(--color-purple)!important;
    {% endif %}
}

.title-container{
    margin-top: 6rem;

}

.content-container p,h1,h2,h3,h4,h5,h6,img,table{
    @extend container
}

.highlight{
    background-color: var(--light-gray);
    border-radius:5px;
    padding: 3px;
    margin-bottom:0;
}