.highlight pre,
pre {
    font-size: 12px;
    border: 1px #e1e4e8 solid;
    background-color: #f6f8fa;

    &:hover{
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.19);
        transition: 0.15s;
    }
}

div.highlighter-rouge {
    position: relative;
    break-inside: avoid;
}

div.highlighter-rouge::after {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    content: attr(data-lang);
    padding: 0 5px;
    color: #bbc0c5;
}

.highlight pre,
.markdown-body pre {
    font-size: 12px;
    border: 1px #e1e4e8 solid;
    background-color: #f6f8fa;
}

.highlight {
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 0;
}

pre code,
pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}