.color-hero {
  height: 108vh;
  background-color: var(--color-purple) !important;
}

.color-hero .hello {
  padding-top: 30vh;
  color: white;
}

.home-secondary-panel {
  transform: translateY(-50px);
  background-color: white;
  min-height: 800;
}

.home-third-panel {
  transform: translateY(-50px);
  background-color: var(--color-dark-blue) !important;
  min-height: 500px;
  color: white;
}

.home-third-panel a {
  color: var(--color-blue) !important;
}

.home-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.header-space {
  padding-top: 6rem;
}

.home-project {
  /* min-height: 310px; */
  margin-top: 1rem;
}

.hello {
  #callsign {
    color: rgba(255, 255, 255, 0.75);

    a {
      color: rgba(255, 255, 255, 0.75);
    }

    a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.border-loop {
    // border-color: var(--color-faint-purple);
    // border-width: 1px;
    // border-radius: 15px;
    border:none;
}

.border-loop-right {
  border-left: none;
  border-bottom: none;
  border-top-left-radius: 0px;
}

.border-loop-left {
  border-right: none;
  border-bottom: none;
}
