body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.color-space {
    height: 25vh;
    background-color: var(--color-purple) !important;
}

.title-container {
    margin-top: 6rem;
}

img {
    max-width: 99%;
}


iframe {
    max-width: 99%;
}

.center {
    text-align: center;
}

.foot-info a {
    color: var(--color-dark-purple);
}

.inner-content-container>p {
    text-align: justify;
}

.retention {}

.hidden {
    display: none !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, .125);

}

th {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

td {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.user-mention {
    color: black;
    font-weight: bolder;
}

.user-mention:hover {
    text-decoration: none;
}

// Handles weird spacing
.highlighter-rouge,
table,
.content-container img {
    margin-bottom: .6rem;
}

.inner-content-container {

    p,
    h2,
    h3 {
        a {
            text-decoration: none;
            position: relative;
            transition: all .3s cubic-bezier(.2, 0, 0, 1);
            z-index: 1;

            &:after {
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 50%;
                left: 50%;
                background-color: var(--color-blue);
                transition: all .3s cubic-bezier(.2, 0, 0, 1);
                transform-origin: bottom center;
                z-index: -1;
            }

            &:hover {
                color: #212529;

                &:after {
                    right: 0;
                    left: 0;
                    // height: 50%;
                }
            }
        }
    }
}

@media only screen and(max-width: 767px) {
    .maybe-date {
        display: none;
    }
}

blockquote {
    // background: #f9f9f9;
    border-left: 10px solid rgb(77, 77, 77);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}

.twitter-tweet {
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);

    iframe {
        padding: 0;
        max-width:100%;
    }
}

.card-img-top{
    max-width:100%;
    padding:0;
}

.home-project:hover{
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.19);
    transition: 0.15s;
}

.list-group-item-action{
    transition: background 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.list-group-item-action:hover{
    // box-shadow: 0 4px 2px  rgba(0, 0, 0, 0.19);
    transition: background 0s;
    
}