body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.color-space {
    height: 25vh;
    background-color: var(--color-purple) !important;
}

.title-container {
    margin-top: 6rem;
}

.highlight {
    background-color: var(--light-gray);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 0;
}

img {
    max-width: 99%;
}

iframe {
    max-width: 99%;
}

.center {
    text-align: center;
}

.foot-info a {
    color: var(--color-dark-purple);
}

.inner-content-container>p {
    text-align: justify;
}

.retention {}

.hidden {
    display: none !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, .125);
}

th {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

td {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}