h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 700px;
  margin: auto;
}

.profile-card {
  margin-top: 30px;
  margin-bottom: 30px;
  .row {
    width: max-content;
    max-width: 100vw;
    margin: auto;
    overflow-wrap: normal;

    .headshot-container {
      display: inline-block;
      max-width: 150px;
      img {
        width: 100%;
      }
    }
    .text-container {
      display: inline-block;
      margin-left: 20px;
      h1,
      p {
        margin: 0px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.navigation-bar {
  text-align: center;
  p {
    margin: 0px;
    a {
      text-decoration: none;
    }
  }
}
