h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
}
p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;

  &:visited {
    color: blue;
  }

  &:hover {
    color: blueviolet;
  }
}

body {
  margin-bottom: 30px;
}

.mobile-hidden {
  @media only screen and (max-width: 650px) {
    display: none;
  }
}

.yt-embed {
  width: 100%;
  height: 400px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.container {
  max-width: 700px;
  margin: auto;
}

.profile-card {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  .row {
    width: max-content;
    max-width: 95vw;
    margin: auto;
    overflow-wrap: normal;

    .headshot-container {
      display: inline-block;
      max-width: 150px;
      @media only screen and (max-width: 382px) {
        display: block;
        margin: auto;
      }
      img {
        width: 100%;
      }
    }
    .text-container {
      display: inline-block;
      margin-left: 20px;
      h1,
      p {
        margin: 0px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.navigation-bar {
  text-align: center;
  p {
    margin: 0px;
    a {
      text-decoration: none;
    }
  }
}

.blog-post-li {
  margin: 0.25em;
}

.gray {
  color: gray;
}

ul {
  padding-left: 20px;
}

.events-list {
  & > li {
    color: gray;
  }
  & > ul {
    & > li {
      & > div {
        display: table-row;
        & > span {
          display: table-cell;

          &:first-of-type {
            color: gray;
            width: 30px;
            letter-spacing: -0.35em;
            text-align: center;
            padding-right: 8px;
            text-transform: full-width;
          }
        }
      }
    }
  }
}
