.project-mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  @media (min-width: 437px) {
    .project-small {
      max-width: 175px !important;
    }
  }

  .conform-height {
    height: unset !important;
  }

  .project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
    height: max-content;

    img {
      margin-bottom: 0.5em;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.75em;
      width: 100%;
    }

    h3 {
      margin: 0;
      margin-bottom: 0.25em;
    }

    p {
      margin-top: 0;
      color: rgb(84, 84, 84);
    }

    span {
      display: inline-block;
      border-top: 1px solid #ccc;
      font-size: 2em;
      width: 100%;
      padding-top: 0.25em;
      text-align: center;
    }
  }
}
