@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
}
p,
li,
span {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;

  &:visited {
    color: blue;
  }

  &:hover {
    color: blueviolet;
  }
}

body {
  margin: 0;
}

.gray {
  color: gray;
}

.hover-help {
  &:hover {
    cursor: help;
  }
  border-bottom: 1px double rgb(171, 167, 167);
}
