// @import "fonts";

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Urbanist", sans-serif;
//   font-weight: bolder;
// }
// p,
// li,
// span {
//   font-family: "Rubik", sans-serif;
//   font-weight: normal;
// }
a {
  text-decoration: none;
  color: blue !important;

  &:visited {
    color: blue;
  }

  &:hover {
    color: blueviolet;
  }
}

body {
  margin: 0;
  font-family: serif;
  text-align: justify;
}

.gray {
  color: gray;
}

.hover-help {
  &:hover {
    cursor: help;
  }
  border-bottom: 1px double rgb(171, 167, 167);
}

.page #content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.markdown-body{
  font-family: serif;
}

.monospace {
  font-variant-numeric: tabular-nums;
}

#sponsor-notice{
  background-color: rgb(253, 204, 173);
  width:max-content;
  margin:auto;
  padding: 5px;
}