// Fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  // Keep websites thin!
  max-width: 800px;
  margin: auto;

  // Default font
  font-family: "Overlock", sans-serif;

  // Default background color
  background-color: #f0f0f0;

  // Remove all link decoration
  a {
    text-decoration: none;
    color: blue;
  }

  header {
    font-family: "IBM Plex Serif", serif;

    .title-card {
      margin: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 90px;
        height: 90px;
      }
      div {
        margin-left: 1em;
        height: max-content;
        .name {
          margin: 0;
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
        }
        hr {
          margin: 0;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            a {
              display: flex;
              flex-direction: row;
              align-items: center;

              svg {
                display: inline-block;
                margin-right: 1px;
                height: 1em;
                width: 1em;
                filter: invert(9%) sepia(97%) saturate(6581%) hue-rotate(247deg)
                  brightness(94%) contrast(144%);
              }
            }
          }
        }
      }
    }
    nav {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li {
          list-style-type: none;
          font-weight: 500;
          &:not(:first-child)::before {
            content: " · ";
            margin-left: 0.25em;
          }
        }
      }
    }
  }

  main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "IBM Plex Serif", serif;
      border-bottom: 1px solid #d7dde3;
      padding-bottom: 0.3em;
    }

    p,li {
      font-size: 1.25rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0 0.25em;
    }

    img {
      display: block;
      margin: auto;
      max-width: 100%;
      border-radius: 5px;
    }
  }

  footer {
    text-align: center;
  }
}
