pre {
  font-family: monospace, monospace;
  font-size: 1em;
  border-radius: 5px;
  padding: 1em;
  overflow-x: scroll;

  // box-shadow: 0 3px 3px #717171;

  span {
    font-family: inherit !important;
  }
}

del {
  code {
    text-decoration: inherit;
  }
}

:not(pre) > code {
  font-family: monospace, monospace;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 5px;
  padding: 0 5px;
  font-size: 85%;
  white-space: nowrap;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}
