details {
  background-color: #f4f4f4;
  border: 1px solid #d7dde3;
  border-radius: 5px;
  padding: 0.5em;

  summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: none;
      padding: none;
      border: none;
      display: inline;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & > :nth-child(2) {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #d7dde3;
  }
}
