table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;

  // NOTE: Things don't look great if you do this
  // margin: auto;

  td,
  th {
    padding: 0;
    padding: 6px 13px;
    border: 1px solid #d0d7de;

    &:has(> audio) {
      padding: 0;
      margin: 0;
    }

    audio {
      display: block;
      width: 100%;
      min-width: 120px;
    }
  }


  th {
    font-weight: 600;
  }

  tr {
    background-color: #fff;
    border-top: 1px solid #d7dde3;

    &:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }

  img {
    background-color: transparent;
  }
}
