{# Allow extenders to pass through variables #}
{% block variable_wormhole %}
{% set title = "NO TITLE SET" %}
{% set description = "" %}
{% set is_article = false %}
{% endblock variable_wormhole %}

<!DOCTYPE html>
<html lang="en">

<head>
    {# Page metadata #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{config.extra.profile_photo}}" />
    {% include "components/metadata/advertise-rss.html" %}
    {% include "components/metadata/opengraph.html" %}

    {# Page title #}
    <title>{{title}} | {{config.title}}</title>

    {# Preconnects for external resources #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://maxst.icons8.com">

    {# External styles #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css"
        integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# Site-wide styles #}
    <link rel="stylesheet" href="/styles/fixes/instagram.css">
    <link rel="stylesheet" href="/styles/fixes/markdown.css">
    <link rel="stylesheet" href="/styles/fixes/mermaid.css">
    <link rel="stylesheet" href="/styles/fixes/tiktok.css">
    <link rel="stylesheet" href="/styles/fixes/youtube.css">
    <link rel="stylesheet" href="/styles/typography.css">
    <link rel="stylesheet" href="/styles/utils.css">
    <link rel="stylesheet" href="/styles/layout.css">

    {# Component styles #}
    {% block component_styles %}
    {% endblock component_styles %}
</head>

<body>

    {# The whole page #}
    <div class="page">

        {# Allow pages to override the content before the navbar #}
        {% block page_start %}{% endblock page_start %}

        {# Navbar #}
        <div class="container">
            {% include "components/navbar.html" %}
        </div>

        {# Actual content #}
        <div id="content" class="container">
            <article class="markdown-body">
                {% block content %}{% endblock content %}
            </article>
        </div>

        {# Footer #}
        {% include "components/footer.html" %}
    </div>

    {# External scripts #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    {% include "components/metadata/analytics.html" %}
</body>

</html>