{% extends "base.html" %}
{% block title %}
{{section.title}}
{% endblock title %}

{% block head %}
{{ super() }}
<meta property="og:description" content="{{config.description}}" />
<meta property="description" content="{{config.description}}" />
<meta name="og:title" content="Evan Pratten (VA3ZZA)" />

<script type="application/ld+json">
  {% set person_ld = load_data(path="static/person.jsonld")%}
  {% if person_ld %}{{person_ld | safe}}{% endif %}
</script>
<script type="application/ld+json">
  {# Import our template file #}
  {% set template = load_data(path="jsonld_templates/website.jsonld") %}
  {# Now we can fill in any additional data #}
  {{ template | 
      replace(from="{{url}}", to=config.base_url) | 
      replace(from="{{title}}", to=section.title) | 
      replace(from="{{description}}", to=config.description) | 
      replace(from="{{avatar}}", to=config.extra.profile_photo) | 
      safe 
  }}
</script>
{% endblock head %}

{% block content %}
{{section.content | safe}}
{% endblock content %}