{% extends "base.html" %}

{% block head %}
{{super()}}

{# JSON LD #}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "url": "https://ewpratten.com{{page.path | safe}}",
    "headline": "{{page.title}}",
    "dateCreated": "{{page.date}}T00:00:00",
    "datePublished": "{{page.date}}T00:00:00",
    "dateModified": "{{page.date}}T00:00:00",
    "inLanguage": "en-CA",
    "isFamilyFriendly": "true",
    "accountablePerson": {
        "@type": "Person",
        "name": "Evan Pratten",
        "url": "https://ewpratten.com"
    },
    "author": {
        "@type": "Person",
        "name": "Evan Pratten",
        "url": "https://ewpratten.com"
    },
    "creator": {
        "@type": "Person",
        "name": "Evan Pratten",
        "url": "https://ewpratten.com"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Evan Pratten",
        "url": "https://ewpratten.com",
        "logo": {
            "@type": "ImageObject",
            "url": "{{config.extra.profile_photo | safe}}",
            "width": "460",
            "height": "460"
        }
    },
    "mainEntityOfPage": "True",
    "keywords": [],
    "genre": [],
    "articleSection": "Blog Post"
}
</script>
{% endblock head %}