{% extends "base.html" %}

{# Pass data through to the base template #}
{% block variable_wormhole %}
{{ super() }}
{% set title = page.title %}
{% set description = page.description %}
{% set is_article = true %}
{% if page.extra.uses %}
{% set feature_flags = page.extra.uses %}
{% endif %}
{% if page.extra.redir_to %}
{% set redirect_target = page.extra.redir_to %}
{% endif %}
{% endblock variable_wormhole %}

{# Page content #}
{% block page_start %}
{% include "components/heading-card.html" %}
{% endblock page_start %}
{% block content %}
<h1 style="margin-bottom:0;padding-bottom:0;">{{page.title}}</h1>
<em>{{page.description}}</em>
<br><br>

{{ page.content | safe }}
{% endblock content %}