{% extends "base.html" %}
{% block title %}
{{section.title}}
{% endblock title %}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{section.title}} - Evan Pratten" />
{% if section.description %}
<meta property="og:description" content="{{section.description}}" />
<meta property="description" content="{{section.description}}" />
{% else %}
<meta property="og:description" content="{{config.description}}" />
<meta property="description" content="{{config.description}}" />
{% endif %}

{# Handle listing blog posts nicely in search #}
{% if section.extra.inject_blog_posts %}
<script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"ItemList",
      "itemListElement":[
        {% for page in section.pages %}
        {% if not page.extra.hidden %}
        {
            "@type":"ListItem",
            "position": "{{loop.index}}",
            "item": {
                "@type": "Article",
                "headline": "{{page.title}}",
                "url":"https://va3zza.com{{page.path | safe}}",
                "author": [{
                    "@type": "Person",
                    "name": "Evan Pratten",
                    "url": "https://va3zza.com"
                  }]
            }
        } {% if not loop.last %},{% endif %}
        {% endif %}
        {% endfor %}
        
      ]
    }
</script>
{% endif %}
{% endblock head %}

{% block content %}
{{section.content | safe}}

{% if section.extra.inject_blog_posts %}
<ul>
    {% for page in section.pages %}
    {% if not page.extra.hidden %}
    <li class="blog-post-li"><a href="{{page.path}}">{{page.title}}</a> <span style="color:gray;">({{page.date}})</span>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}