p,
li,
span {
  font-family: sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: justify;
}

.no-justify {
  p {
    text-align: left !important;
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
