{% block component_styles %}
{{ super() }}
<link rel="stylesheet" href="/styles/components/about-card.css">
{% endblock component_styles %}

<div class="about-card">
    <div class="profile-photo-container">
        <img src="{{config.extra.profile_photo}}" alt="Profile Photo" loading="lazy">
    </div>
    <div class="text-container">
        <div class="intro-text">
            <h1>{{config.extra.name}}</h1>
            <p>{{config.extra.profession}}</p>
        </div>
        <div class="quick-links">
            <ul>
                <li>
                    <a class="about-quick-link" href="mailto:{{config.extra.email}}" rel="me">
                        <img src="/dist/line-awesome/svg/envelope.svg" alt="email: " loading="lazy">
                        {{config.extra.email}}
                    </a>
                </li>
                <li>
                    <a class="about-quick-link" href="https://github.com/{{config.extra.github}}" rel="me">
                        <img src="/dist/line-awesome/svg/github.svg" alt="github: " loading="lazy">
                        {{config.extra.github}}
                    </a>
                </li>
                <li>
                    <a class="about-quick-link" href="https://linkedin.com/in/{{config.extra.linkedin}}" rel="me">
                        <img src="/dist/line-awesome/svg/linkedin.svg" alt="linkedin: " loading="lazy">
                        {{config.extra.linkedin}}
                    </a>
                </li>
                <li>
                    <a class="about-quick-link" href="/contact">
                        <img src="/dist/line-awesome/svg/ellipsis-h-solid.svg" alt="... " loading="lazy">
                        contact me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{# Mastodon requires this to exist somewhere, so why not here #}
<a rel="me" href="https://social.ewpratten.com/@evan" style="display:none;"></a>