{% block component_styles %}
{{ super() }}
<link rel="stylesheet" href="/styles/components/footer.css">
{% endblock component_styles %}

<div class="footer container">

    {% if is_article %}
    <br>
    <p id="sponsor-notice">Consider <a href="https://ewp.fyi/sponsor">sponsoring my work</a>!</p>
    {% endif %}

    <br>
    <hr>
    <p id="copyright">
        Copyright &copy; 2017 - {{ now() | date(format="%Y") }}
        <strong>Evan Warren Pratten</strong>
    </p>
    {# <p>
        <a href="/press">Press Kit</a>
        &middot;
        <a href="/contact">Contact</a>
    </p> #}
    <br>
</div>