{% block component_styles %}
{{ super() }}
<link rel="stylesheet" href="/styles/components/navbar.css">
{% endblock component_styles %}

<div class="ewp-navbar">
    <hr>
    <span class="navbar-items">
        <a href="/">Home</a>
        &centerdot;
        <a href="/blog">Blog</a>
        &centerdot;
        <a href="/projects">Projects</a>
        &centerdot;
        <a href="/music">Music</a>
        &centerdot;
        <a href="/contact">Contact</a>
    </span>
    <hr style="margin-bottom:0;">
</div>