{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <!-- Header -->
        <div class="header" style="height:35%">
            <div class="container">
                <div class="content">
                    <!-- <h1>About Me</h1> -->
                </div>
            </div>
            <div class="header-gap"></div>
        </div>

        <div class="reactive-bg">
            <div class="post container" style="min-height:65vh">
                <h1>About Me</h1>
                <hr>
                {{content}}
            </div>
        </div>

    </div>
    {% include footer.html %}



</body>