{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}
        <!-- <div style="height:5vh"></div> -->

        <div class="reactive-bg">
            <div class="post container" style="min-height:100vh">
                <h1>About Me</h1>
                <hr>
                {{content}}
            </div>
        </div>

    </div>
    <br>

    <div class="reactive-bg">
        <div class="post container" id="advert">
            <span >
                Site design by: <a href="https://retrylife.ca">Evan Pratten</a> |
        
                This site was last updated at: {{site.time}}
            </span>
        </div>
    </div>

    {% include footer.html %}



</body>