{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="reactive-bg">
            <div class="post container" style="min-height:100vh">
                <div class="list-group" id="posts">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Documentation</a>

                    {% for docpage in site.docs %}

                    <a href="{{docpage.url}}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{docpage.title}}</h5>
                        </div>
                        <p class="card-text">{{docpage.description}}</p>
                    </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}


</body>