<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major" style="height:90vh">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p >{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <section id="two" style="background-color:#586e75">
                <div class="inner">
                    <header class="major">
                        <h2>About Me</h2>
                    </header>
                    <p>{{site.about}}</p>
                    
                </div>
            </section>

            <section id="two">
                    <div class="inner">
                        <header class="major">
                            <h3>Featured Projects</h3>
                            <p>My favorite projects</p>
                        </header>
    
                        <ul>
                        {% for project in site.my_projects limit:3%}
                            <li><h3><a href="{{ project.url | relative_url }}" class="link" >{{ project.slug }} {{ project.tag }}</a></h3></li>
                        {% endfor %}
                        </ul>
    
                    </div>
                </section>


        <section id="two" style="background-color:#657b83">
                <div class="inner">
                    <header class="major">
                        <h3>Blog</h3>
                        <p>Here are my three most recent posts</p>
                    </header>

                    <ul>
                    {% for post in site.posts limit:3 %}
                        <li><h3><a href="{{ post.url | relative_url  }}" class="link" title="{{ post.date }}">{{ post.title }}</a></h3></li>
                    {% endfor %}
                    </ul>
                    <a href="all_posts.html" class="button next">View All</a>

                </div>
            </section>

    </div>

    

    {% include footer.html %}

</body>

</html>