{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <!-- Header -->
        <div class="header" style="height:50vh">
            <div class="home-header">
            </div>
        </div>

        <div class="reactive-bg">
            <div class="home container">
                <div class="profile">
                    <img src="{{site.baseurl}}/assets/images/profile_pic.jpg">
                </div>


                <div class="info">
                    <h1>{{site.title}}</h1>
                    <hr>
                    <div class="tagline">
                        <br><br>
                        <h2>Who am I?</h2>
                        <p>{{site.about}}</p>

                        <br><br>
                        <h2>Languages</h2>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="15"
                                aria-valuemin="0" aria-valuemax="100">Python</div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Java</div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100">C</div>
                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Other</div>
                        </div>

                        <br>
                        <p>I have been programming since 2013, and started learning with Python3.<br>
                            Since then, I have picked up many other languages, and am currently mainly using Python,
                            Java, and C.<br>
                            I am working on learning a few new languages, including Ruby at the moment.</p>

                        <br><br>
                        <h2>Projects</h2>

                        <p>
                            To learn more about the projects I work on, check out my Projects page
                        </p>

                        <a href="{{site.baseurl}}/projects">
                            <button type="button" class="btn btn-success">View Page</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {% include footer.html %}

</body>