{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="color-hero">
            <div class="hello container">
                <h1>Hi,</h1>
                <h1>I am Evan&nbsp;Pratten</h1>
            </div>
        </div>

        <div class="home-secondary-panel edge--top">
            <div class="inner-content-container home-content container">
                {{content}}
            </div>
            
        </div>


    </div>
    {% include footer.html %}

</body>