{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="reactive-bg">
            <div class="post container">
                <h1>My music</h1>
                <hr>

                <!-- <div class="list-group" id="posts"> -->

                <a href="#posts" class="list-group-item list-group-item-action list-group-item-dark">Featured</a>

                {% for album in site.music %}


                <a href="{{album.url}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="card-body">
                            <h5 class="mb-1">{{album.title}}
                            </h5>
                            <i class="card-text">Released: {{album.date}}</i>
                            <p class="card-text">{{album.description}}</p>
                        </div>
                    </div>
                </a>


                {% endfor %}
                <!-- </div> -->

                <br><br>
                <a href="https://retrylife.bandcamp.com" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="card-body">
                            <h5 class="mb-1">More music</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% include footer.html %}


</body>