{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="reactive-bg">

            <div class="title container">
                <h1>{{page.title}}</h1>
            </div>

            <br>

            <div class="post container">
                <h1>Software</h1>
                <hr>
            </div><br>

            <div class="post container">
                <h1>Web</h1>
                <hr>
            </div><br>

            <div class="post container">
                <h1>Photography</h1>
                <hr>
            </div><br>
            
        </div>

    </div>
    {% include footer.html %}


</body>