{% include head.html %}


<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="reactive-bg">

            <div class="title container">
                <h1>{{page.title}}</h1>
                <h4>{{page.description}}</h4>
            </div><br>


            <div class="post container">
                <p class="post-date">
                    <em>
                        <!-- Date -->
                        {{page.date}}

                        <!-- Mini post -->
                        {% if page.is_short %}
                        <span class="badge badge-secondary">Mini Post</span>
                        {% endif %}

                        <!-- Permalink -->
                        {% if page.redirect_from %}
                        <!-- <a href="{{site.baseurl}}{{page.redirect_from[0]}}"><i class="fas fa-link"></i></a> -->
                        {% endif %}
                    </em>

                </p>

                {{content}}
            </div>
        </div>

    </div>
    {% include advert.html %}
    {% include footer.html %}


</body>