{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}
        <!-- <div style="height:5vh"></div> -->

        <!-- Header -->
        <!-- <div class="header">
            <div class="container">
                <div class="content">
                </div>
            </div>
            <div class="header-gap"></div>
        </div> -->

        <div class="reactive-bg">
            <div class="post container">
                <h1>{{page.title}}

                </h1>
                <h4>{{page.description}}

                </h4>
                <hr>
                <p><em>{{page.date}}
                        {% if page.is_short %}
                        <span class="badge badge-secondary">Mini Post</span>
                        {% endif %}
                    </em></p>

                <br>

                {{content}}
            </div>
        </div>

    </div>
    {% include footer.html %}
    

</body>