<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %} 
	
	<section id="banner" class="major" style="height:40vh">
			<div class="inner">
				<header class="major">
					<h1>{{ page.slug }}</h1>
				</header>
				<div class="content">
						<p >Project {{page.tag}}</p>
						
					</div>
			</div>
		</section>
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<p>{{ content }}</p>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>