{% include head.html %}

<body>

    <div class="site-ctr">
        <!-- Navbar -->
        {% include nav.html %}

        <!-- Header -->
        <div class="header" style="height:35%">
            <div class="container">
                <div class="content">
                    <!-- <h1>My Projects</h1> -->
                </div>
            </div>
            <div class="header-gap"></div>
        </div>

        <div class="reactive-bg">
            <div class="post container">
                <h1>My Projects</h1>
                <hr>

                {% assign featured = site.data.projects["featured"] %}
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{featured.image}}" class="card-img" alt="Project image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{featured.name}}</h5>
                                <p class="card-text">{{featured.description}}</p>
                                <a href="{{featured.url}}">
                                    <button type="button" class="btn btn-info">View Project</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="card-deck">
                    {% for project in site.data.projects["other"] %}
                    <div class="card">
                        {% if project.image != "" %}
                        <img src="{{project.image}}" class="card-img-top" alt="Project image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{project.name}}</h5>
                            <p class="card-text">{{project.description}}</p>
                            <a href="{{project.url}}">
                                <button type="button" class="btn btn-info">View Project</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <br><br>
                <div class="centre">
                    <p>This site is still under development. More projects will be listed soon.</p>
                </div>

            </div>
        </div>
    </div>
    {% include footer.html %}


</body>