---
layout: default
title: Blog
---

<p>The following is a list of articles I've written. This is also available in <a href="/rss.xml">RSS</a> format.</p>

{% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for group in grouped_posts %}
<h2>{{ group.name }}</h2>
<ul id="blog-post-list">
    {% for post in group.items %}
    <li>
        <span style="color: gray;">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a href="{{ post.url | downcase }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}