---
layout: default
title: Software
---

<p>
    I like to build things. Here are some of the more interesting bits of software I've built:
</p>

{% assign projects_sorted = site.software | sort: "title" %}
{% assign projects_uncategorized = projects_sorted | where: "software_category", nill %}
{% assign projects_grouped = projects_sorted | group_by: "software_category" | sort_by: "name" | reverse %}

<ul>
    {% for project in projects_uncategorized %}
    <li>
        <a href="{{ project.url }}">{{ project.title }}</a>
        {% if project.description %}
        - {{ project.description }}
        {% endif %}
    </li>
    {% endfor %}
    {% for group in projects_grouped %}
    {% if group.name == "" %}{% continue %}{% endif %}
    <li>
        <span style="color:gray;">{{ group.name | capitalize }}</span>
        <ul>
            {% for item in group.items %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% if item.description %}
                - {{ item.description }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>